@media ( min-width : 320px ) and ( max-width : 479px ) {

  .paiTable-adminList {
    background-color: rgb(251, 251, 251);
    margin: 20px 0;
    overflow-y: hidden;
  }

  .title-adminList {
    color: rgb(30, 30, 30);
    font-family: Arial , Helvetica , sans-serif;
    margin-top: 30px 0 0;
    padding: 30px 0 0;
    text-align: center;
  }

  .paibtnDelete-adminList {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .btnDelete-adminList {
    align-items: center;
    background-color: rgb(180, 13, 13);
    border: none;
    border-radius: 12px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-left: 80px;
    padding: 0 10px;
    position: relative;
  }

  .iconDelete-adminList {
    color: rgb(1, 1, 1);
    font-size: 30px;
  }

  .paiSearch {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .inputSearch-adminList {
    background-color: transparent;
    border: 2px solid var(--segunda);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: black;
    font-weight: 900;
    height: 48px;
    margin: 5px 0;
    padding: 20px 0 20px 5px;
    width: 200px;
  }

  .btnSearch-adminList {
    background: linear-gradient(to top, var(--segunda), #c39625);
    background-color: var(--segunda);
    border: 0 solid white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-family: Arial , Helvetica , sans-serif;
    font-size: 18px;
    font-weight: 900;
    height: 48px;
    padding: 14px 15px;
    text-decoration: none;
  }

  .anyRegister {
    font-family: Arial , Helvetica , sans-serif;
    margin: 20px 10px;
    text-align: center;
  }

  table {
    border-collapse: collapse;
    font-family: Arial , Helvetica , sans-serif;
    margin-top: 30px;
    width: 100%;
  }

  table tr {
    display: block;
    margin-bottom: 15px;
  }

  table td, table th {
    border: 1px solid black;
    padding: 12px 15px;
    text-align: center;
  }

  table th {
    background-color: blue;
    color: white;
  }

  table, table tbody, table td {
    display: block;
  }

  table tbody tr:nth-child( even ) {
    background-color: #fffdf7;
  }

  table tbody tr:nth-child( odd ) {
    background-color: #e8d4a3;
  }

  .table-adminList {
    box-sizing: border-box;
  }

  table thead {
    display: none;
  }

  table td {
    padding-left: 50%;
    position: relative;
    text-align: right;
  }

  table td:before {
    content: attr(data-label);
    font-weight: 900;
    left: 0;
    padding-left: 15px;
    position: absolute;
    width: 15%;
  }
}

@media ( min-width : 480px ) and ( max-width : 600px ) {

  .paiTable-adminList {
    background-color: rgb(251, 251, 251);
    margin: 20px 0;
    overflow-y: hidden;
  }

  .title-adminList {
    color: rgb(30, 30, 30);
    font-family: Arial , Helvetica , sans-serif;
    margin-top: 30px 0 0;
    padding: 30px 0 0;
    text-align: center;
  }

  .paibtnDelete-adminList {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .btnDelete-adminList {
    align-items: center;
    background-color: rgb(180, 13, 13);
    border: none;
    border-radius: 12px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-left: 80px;
    padding: 0 10px;
    position: relative;
  }

  .iconDelete-adminList {
    color: rgb(1, 1, 1);
    font-size: 30px;
  }

  .paiSearch {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .inputSearch-adminList {
    background-color: transparent;
    border: 2px solid var(--segunda);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: black;
    font-weight: 900;
    height: 48px;
    margin: 5px 0;
    padding: 20px 0 20px 5px;
    width: 200px;
  }

  .btnSearch-adminList {
    background: linear-gradient(to top, var(--segunda), #c39625);
    background-color: var(--segunda);
    border: 0 solid white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-family: Arial , Helvetica , sans-serif;
    font-size: 18px;
    font-weight: 900;
    height: 48px;
    padding: 14px 15px;
    text-decoration: none;
  }

  .anyRegister {
    font-family: Arial , Helvetica , sans-serif;
    margin: 20px 10px;
    text-align: center;
  }

  table {
    border-collapse: collapse;
    font-family: Arial , Helvetica , sans-serif;
    margin-top: 30px;
    width: 100%;
  }

  table tr {
    display: block;
    margin-bottom: 15px;
  }

  table td, table th {
    border: 1px solid black;
    padding: 12px 15px;
    text-align: center;
  }

  table th {
    background-color: blue;
    color: white;
  }

  table, table tbody, table td {
    display: block;
  }

  table tbody tr:nth-child( even ) {
    background-color: #fffdf7;
  }

  table tbody tr:nth-child( odd ) {
    background-color: #e8d4a3;
  }

  .table-adminList {
    box-sizing: border-box;
  }

  table thead {
    display: none;
  }

  table td {
    padding-left: 50%;
    position: relative;
    text-align: right;
  }

  table td:before {
    content: attr(data-label);
    font-weight: 900;
    left: 0;
    padding-left: 15px;
    position: absolute;
    width: 15%;
  }
}

@media ( min-width : 601px ) and ( max-width : 800px ) {

  .paiTable-adminList {
    background-color: rgb(251, 251, 251);
    margin: 20px 0;
    overflow-y: hidden;
  }

  .title-adminList {
    color: rgb(30, 30, 30);
    font-family: Arial , Helvetica , sans-serif;
    margin-top: 30px 0 0;
    padding: 30px 0 0;
    text-align: center;
  }

  .paibtnDelete-adminList {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .btnDelete-adminList {
    align-items: center;
    background-color: rgb(180, 13, 13);
    border: none;
    border-radius: 12px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-left: 80px;
    padding: 0 10px;
    position: relative;
  }

  .iconDelete-adminList {
    color: rgb(1, 1, 1);
    font-size: 30px;
  }

  .paiSearch {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .inputSearch-adminList {
    background-color: transparent;
    border: 2px solid var(--segunda);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: black;
    font-weight: 900;
    height: 48px;
    margin: 5px 0;
    padding: 20px 0 20px 5px;
    width: 200px;
  }

  .btnSearch-adminList {
    background: linear-gradient(to top, var(--segunda), #c39625);
    background-color: var(--segunda);
    border: 0 solid white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-family: Arial , Helvetica , sans-serif;
    font-size: 18px;
    font-weight: 900;
    height: 48px;
    padding: 14px 15px;
    text-decoration: none;
  }

  .anyRegister {
    font-family: Arial , Helvetica , sans-serif;
    margin: 20px 10px;
    text-align: center;
  }

  table {
    border-collapse: collapse;
    font-family: Arial , Helvetica , sans-serif;
    margin-top: 30px;
    width: 100%;
  }

  table tr {
    display: block;
    margin-bottom: 15px;
  }

  table td, table th {
    border: 1px solid black;
    padding: 12px 15px;
    text-align: center;
  }

  table th {
    background-color: blue;
    color: white;
  }

  table, table tbody, table td {
    display: block;
  }

  table tbody tr:nth-child( even ) {
    background-color: #fffdf7;
  }

  table tbody tr:nth-child( odd ) {
    background-color: #e8d4a3;
  }

  .table-adminList {
    box-sizing: border-box;
  }

  table thead {
    display: none;
  }

  table td {
    padding-left: 50%;
    position: relative;
    text-align: right;
  }

  table td:before {
    content: attr(data-label);
    font-weight: 900;
    left: 0;
    padding-left: 15px;
    position: absolute;
    width: 15%;
  }
}

@media ( min-width : 801px ) and ( max-width : 1399px ) {

  .paiTable-adminList {
    background-color: white;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    overflow-y: hidden;
    padding: 20px 30px 40px 0;
    width: 80%;
  }

  .title-adminList {
    color: rgb(30, 30, 30);
    font-family: Arial , Helvetica , sans-serif;
    margin-top: 30px 0 0;
    padding: 30px 0 0;
    text-align: center;
  }

  .paibtnDelete-adminList {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .btnDelete-adminList {
    align-items: center;
    background-color: rgb(180, 13, 13);
    border: none;
    border-radius: 12px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 10px 25px;
    position: relative;
  }

  .iconDelete-adminList {
    color: rgb(1, 1, 1);
    font-size: 30px;
  }

  .paiSearch {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .inputSearch-adminList {
    background-color: transparent;
    border: 2px solid var(--segunda);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: black;
    font-weight: 900;
    height: 48px;
    margin: 5px 0;
    padding: 20px 0 20px 5px;
    width: 300px;
  }

  .btnSearch-adminList {
    background: linear-gradient(to top, var(--segunda), #c39625);
    background-color: var(--segunda);
    border: 0 solid white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-family: Arial , Helvetica , sans-serif;
    font-size: 18px;
    font-weight: 900;
    height: 48px;
    padding: 14px 15px;
    text-decoration: none;
  }

  .anyRegister {
    font-family: Arial , Helvetica , sans-serif;
    margin: 20px 10px;
    text-align: center;
  }

  table {
    border-bottom: 5px solid var(--segunda);
    border-collapse: collapse;
    font-family: Arial , Helvetica , sans-serif;
    margin: auto;
    margin-top: 30px;
    width: 85%;
  }

  table tbody tr:nth-child( even ) {
    background-color: #fffdf7;
  }

  table tbody tr:nth-child( odd ) {
    background-color: #dadada;
  }

  th {
    background-color: var(--segunda);
    padding: 10px;
    text-align: center;
  }

  th:nth-child( 1 ) {
    border-top-left-radius: 12px;
  }

  th:last-child {
    border-top-right-radius: 12px;
  }

  td {
    margin: 10px;
    padding: 10px;
    text-align: center;
  }

}

@media ( min-width : 1400px ) {

  .paiTable-adminList {
    background-color: white;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    overflow-y: hidden;
    padding: 20px 30px 40px 0;
    width: 80%;
  }

  .title-adminList {
    color: rgb(30, 30, 30);
    font-family: Arial , Helvetica , sans-serif;
    margin-top: 30px 0 0;
    padding: 30px 0 0;
    text-align: center;
  }

  .paibtnDelete-adminList {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  .btnDelete-adminList {
    background-color: rgb(180, 13, 13);
    border: none;
    border-radius: 12px;
    font-family: Arial , Helvetica , sans-serif;
    padding: 10px 25px;
  }

  .iconDelete-adminList {
    color: rgb(1, 1, 1);
    font-size: 30px;
  }

  .paiSearch {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .inputSearch-adminList {
    background-color: transparent;
    border: 2px solid var(--segunda);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: black;
    font-weight: 900;
    height: 48px;
    margin: 5px 0;
    padding: 20px 0 20px 5px;
    width: 300px;
  }

  .btnSearch-adminList {
    background: linear-gradient(to top, var(--segunda), #c39625);
    background-color: var(--segunda);
    border: 0 solid white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-family: Arial , Helvetica , sans-serif;
    font-size: 18px;
    font-weight: 900;
    height: 48px;
    padding: 14px 15px;
    text-decoration: none;
  }

  .anyRegister {
    font-family: Arial , Helvetica , sans-serif;
    margin: 20px 10px;
    text-align: center;
  }

  table {
    border-bottom: 5px solid var(--segunda);
    border-collapse: collapse;
    font-family: Arial , Helvetica , sans-serif;
    margin: auto;
    margin-top: 30px;
    width: 85%;
  }

  table tbody tr:nth-child( even ) {
    background-color: #fffdf7;
  }

  table tbody tr:nth-child( odd ) {
    background-color: #dadada;
  }

  th {
    background-color: var(--segunda);
    padding: 10px;
    text-align: center;
  }

  th:nth-child( 1 ) {
    border-top-left-radius: 12px;
  }

  th:last-child {
    border-top-right-radius: 12px;
  }

  td {
    margin: 10px;
    padding: 10px;
    text-align: center;
  }

}
